@import url(global.css);

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    background-color: var(--color-neutral-white);
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    font-family: var(--font);
}

.button-wrapper {
    width: 182px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login {
    width: 77px;
    height: 40px;
    padding: 10px;
    font-family: var(--font);
    background-color: var(--color-neutral-white);
}

.signup {
    width: 91px;
    height: 40px;
    padding: 10px 20px;
    font-family: var(--font);
    background-color: var(--color-primary);
    border-radius: 6px;
}